
openmusic-piano-keyboard * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }


openmusic-piano-keyboard {
	display: inline-block;
	border: 1px solid #333;
	position: relative;
	width: auto;
	font-size: 1.25rem;
	outline: none;
}

openmusic-piano-keyboard:focus {
	border: 1px solid red;
}

openmusic-piano-keyboard .key {
	position: relative;
	display: inline-block;
	padding: 4rem 0.25rem 1rem 0.25rem;
	width: 3rem;
	text-align: center;
	cursor: pointer;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: all 0.2s ease-in;
	background: #efefef;
	z-index: 0;
}

openmusic-piano-keyboard .key + .key {
	border-left: 1px solid black;
}

openmusic-piano-keyboard .key.black + .key {
	border-left: 0px;
}


openmusic-piano-keyboard .blacks {
	position: absolute;
	top: 0;
	left: 2rem;
	z-index: 2;
}

openmusic-piano-keyboard .key.black.prevwhite {
	margin-left: 3rem;
}

openmusic-piano-keyboard .key.black {
	color: #fff;
	background-color: #000;
	margin-right: 1rem;
	padding-top: 1rem;
	padding-right: 0.25rem;
	padding-left: 0.25rem;
	width: 2rem;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

openmusic-piano-keyboard .key:hover {
	background: #fff;
	box-shadow: 0px 0px 15px rgba(255, 255, 0, 0.9);
	z-index: 1;
}

openmusic-piano-keyboard .key.black:hover {
	background: #000;
}

openmusic-piano-keyboard .key:active, openmusic-piano-keyboard .key.active {
	background: #fff;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
}

openmusic-piano-keyboard .key.black:active, openmusic-piano-keyboard .key.black.active {
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9);
	background: #000;
	color: #ff0;
}

